<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
    <link rel='stylesheet' href='/stylesheets/normal.css' />
</head>
<body>
    <a href=""></a>
    <div>
        <div style="color: #">
        </div>
    </div>
</body>
</html>
