<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normal.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body class="body">
    <!--左边部分-->
    <div class="leftAll">
      <!--start 垂直按钮组-->
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Dropdown link</a></li>
          <li><a href="#">Dropdown link</a></li>
        </ul>
      </div>
      <!--end 垂直按钮组-->
    </div>
    <!--中间部分-->
    <div class="middleAll">
      <!-- start navigation -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      <!-- end navigation -->
      <!-- start 巨幕 -->
      <div class="jumbotron">
        <div class="container text-center">
          <h1><%= title %></h1>
          <p>欢迎来到<%= title %></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      </div>
      <!-- end 巨幕 -->

      <!--start 自定义缩略图-->
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/images/company-img-1.jpg" alt="img1">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/images/company-img-1.jpg" alt="img1">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/images/company-img-1.jpg" alt="img1">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/images/company-img-1.jpg" alt="img1">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/images/company-img-1.jpg" alt="img1">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/images/company-img-1.jpg" alt="img1">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
      <!--end 自定义缩略图-->

      <!--start 分页-->
      <nav id="middleAll_navigation_thumbnail" aria-label="Page navigation">
        <ul class="pagination pagination-lg">
          <li class="disabled">
            <span href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <li class="active"><span href="#">1 <span class="sr-only">1</span></span></li>
          <li><span href="#">2</span></li>
          <li><span href="#">3</span></li>
          <li><span href="#">4</span></li>
          <li><span href="#">5</span></li>
          <li>
            <span href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        </ul>
      </nav>
      <!--end 分页-->
    </div>
    <!--右边部分-->
    <div class="rightAll">
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for...">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>

      <div class="tag">
        <button class="btn btn-primary" type="button">
          Messages <span class="badge">4</span>
        </button>
        <button class="btn btn-primary" type="button">
          s <span class="badge">4</span>
        </button><button class="btn btn-primary" type="button">
          Messages <span class="badge">4</span>
        </button>
        <button class="btn btn-primary" type="button">
          Messages <span class="badge">4</span>
        </button>
        <button class="btn btn-primary" type="button">
          asdsadsadsa <span class="badge">5</span>
        </button>
        <button class="btn btn-primary" type="button">
          a <span class="badge">15</span>
        </button>
      </div>
    </div>
  </body>
  <!-- start client javascript -->
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <!--瀑布流-->
  <!--<script type="text/javascript" src="/javascripts/masonry.pkgd.min.js"></script>-->
  <!-- end client javascript -->

  <!--start server javascript-->
  <script type="text/javascript" src="/bin/index.js"></script>
  <!--end server javascript-->

  <script>
//      $('.rightAll>button').masonry({});
  </script>
</html>
